*{
    margin: 0;
    padding: 0;
    color: black;
}
body{
 background-image: url(../images/newland.png);
 background-repeat: no-repeat;
background-size: cover;
/* height: 100%; */
}
.container{
    height: 100%;
    width: 100%;
    margin:  auto;
    text-align: center;
   backdrop-filter: blur(4px);
    
}
.container img{
    width: 7rem;
    height: 7rem;
    margin-top: 8rem;
}
.container h1{
font-size: 3rem;
font-family: 'Poppins', sans-serif;
}

.container p{
   font-size: 2rem;
    margin: 10px ;
    font-family: monospace;
    font-weight: bold;
}
#btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid white;
    color: white;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: 15px 12px;
    margin: 10px;
    background: linear-gradient(rgb(98, 96, 226),rgb(53, 53, 153));
}
